* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.br-success {
    border: 1px solid chartreuse;
}
.br-warning {
    border: 1px solid rgb(255, 238, 0);
}
.br-danger {
    border: 1px solid rgb(214, 43, 0);
}
.bg-success {
    background-color: chartreuse;
}
.bg-warning {
    background-color: rgb(255, 238, 0);
}
.bg-danger {
    background-color: rgb(214, 43, 0);
}
.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ccc;
}
.auth form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 20px;
}
.auth form .form_group {
    margin-bottom: 2rem;
}
.auth form input {
    border: none;
    outline: none;
    border-bottom: 2px solid #000;
    font-size: 1.5rem;
    /* padding: 0 1rem; */
}
.auth form button {
    text-align: center;
    margin: 0 auto;
}
.center_box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.post-detail {
    box-shadow: 3px 7px 3px 3px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    overflow: hidden;
}
.post-detail_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cadetblue;
    padding: 0 1.5rem;
}
.post-detail_header .post-controll button {
    margin: 0 1rem;
    border: none;
    background-color: transparent;
}
.form-add-post {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}
.form-add-post form {
    background-color: #fff;
    border-radius: 15px;
    padding: 40px;
}
.form-add-post form input,
textarea {
    width: 100%;
    outline: none;
}
.hidden {
    display: none;
}
.toast {
    position: fixed;
    top: 10%;
    right: 40px;
    background-color: aqua;
    border-radius: 15px;
    padding: 1rem 1.5rem;
}
